//******************************************************************
//*  IMSJMP Job
//*
//*  This job can be used to start a JMP region.
//*
//******************************************************/
//* Copyright 2023 IBM Inc. All Rights Reserved.       
//* SPDX-License-Identifier: Apache-2.0                        
//******************************************************/
//*
//JMPJOB   JOB 1,IMS,MSGLEVEL=1,PRTY=11,CLASS=A,MSGCLASS=A,REGION=52K
//       EXEC DFSJMP,
//            IMSID={{ DFS_IMS_SSID }}
