{{ JOB_CARD }}
//* SKELETON: DFSIXSEA
//*
//* FUNCTION: INITIALIZE THE MODSTAT DATA SET(S)
//*********************************************************************
//*
//******************************************************/
//* Copyright 2023 IBM Inc. All Rights Reserved.       
//* SPDX-License-Identifier: Apache-2.0                        
//******************************************************/
//*
//ZCLUDPRC JCLLIB ORDER=({{ DFS_AUTH_LIB_HLQ1 }}.{{ DFS_AUTH_LIB_HLQ2 }}.PROCLIB)
//MODSTAT  EXEC PROC=INITMOD,SOUT='*'
//*