**********************************************************************
*       DFSPBDCC
*
*       Sample DFSPBDCC member of the IMS PROCLIB data set.
*
*       Use the DFSPBDCC member to specify execution parameters
*       for the DCCTL control region.
*
//******************************************************/
//* Copyright 2023 IBM Inc. All Rights Reserved.       
//* SPDX-License-Identifier: Apache-2.0                        
//******************************************************/
ARC={{ARC}},
AUTO=
