---
#
# Copyright 2023 IBM Inc. All Rights Reserved
# SPDX-License-Identifier: Apache-2.0
#
# IEF Services
- name: IEF Services
  collections:
    - ibm.ibm_zos_core
    - ibm.ibm_zos_ims

  block:

    - block:
      - include_role:
          name: submit-rexx
          public: yes
        vars:
          rexx_name: 'IEFJOBSX.j2'
          max_rc: 0

      when: iefjobs == "delete"

    - include_role:
        name: submit-rexx
        public: yes
      vars:
        rexx_name: 'IEFJOBS.j2'
        max_rc: 0

      when: iefjobs == "create" and ( not reconcile_run or (reconcile_run and tmdb_cr_instance.resources[0].status.run_result == 'failedDup') )
